@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p></p>
</div>

<div class="text-right">
    <h2 class="display-10">Selamat Datang di Perpustakaan Kami </h2>
    <p>
        Di perpustakaan kami, kami percaya bahwa buku adalah jendela dunia. Apakah Anda mencari novel terbaru, literatur klasik, atau sumber daya akademis, kami memiliki sesuatu untuk semua orang. Jelajahi koleksi buku kami yang beragam dan mulailah perjalanan Anda menuju pembelajaran dan penemuan.

        Terima kasih telah mengunjungi Perpustakaan Kami. Mari bersama-sama menumbuhkan budaya literasi dan memperluas wawasan!
    </p>
</div>

<div class="text-center">
    <h1 class="display-4">Collection Book</h1>
</div>

<div class="row">
    <div class="card col-lg-4 col-md-3 col-sm-6 mt-5">
        <h5>Cinta Brontosaurus</h5>
        <img src="bronto.jpg" alt="Logo bronto">
        <div class="card-body">
            <p class="card-text">
                "Cinta Brontosaurus" adalah novel karya Raditya Dika yang mengisahkan pengalaman cintanya yang penuh humor dan kerap kali dapat dirasakan oleh banyak orang. Setiap babnya terasa seperti cerita pendek yang berdiri sendiri, melukiskan gambaran lucu dan menarik dari lika-liku hubungan asmara. Buku ini penuh dengan kecerdasan dan pesona, menangkap sisi unik dari cinta. Siap-siap tertawa terbahak-bahak! 📚💖
            </p>
        </div>
    </div>
    <div class="card col-lg-4 col-md-3 col-sm-6 mt-5">
        <h5>Koala Kumal</h5>
        <img src="~/koala.jpg" alt="Logo Koala">
        <div class="card-body">
            <p class="card-text">
                "Koala Kumal" juga adalah novel karya Raditya Dika yang mengangkat tema patah hati dan bagaimana bangkit dari situasi tersebut dengan humor khasnya. Buku ini menceritakan perjalanan Raditya menghadapi berbagai pengalaman pahit dalam cinta, di mana dia menemukan cara untuk menerima kenyataan dan move on. Setiap cerita di dalamnya penuh dengan kelucuan dan kejujuran yang mengena. Siap-siap tertawa sekaligus merenung! 📚💔😂
            </p>
        </div>
    </div>
    <div class="card col-lg-4 col-md-3 col-sm-6 mt-5">
        <h5>Marmut Merah Jambu</h5>
        <img src="~/marmut.jpg" alt="Logo Novel">
        <div class="card-body">
            <p class="card-text">
                "Marmut Merah Jambu" karya Raditya Dika adalah kumpulan cerita pendek yang menggambarkan pengalaman lucu dan mengharukan dari masa-masa sekolah hingga dewasa. Buku ini membahas berbagai tema, dari cinta pertama hingga persahabatan dan keluarga, semuanya disajikan dengan humor khas Raditya yang penuh dengan kekocakan dan kejujuran. Setiap cerita memiliki daya tariknya sendiri yang membuat pembaca tertawa dan merenung.
            </p>
        </div>
